.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;

}

.navbar{
  border: none;
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 65646546;
  border-radius: 0;
  transition: all 0.5s ease;
  color: #fff;
}

#startchange{
  margin-top: 160px;
}

.ground{
  position: absolute;
  bottom: 0;
  left: 0;
}

body{
  overflow-x: hidden;
}

.navbar a{
  color: #fff !important;
}


.boxie2{
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.social{
  width: 40px;
  display: inline-block;
  margin: 30px;
}

.title{
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #686868;
  font-weight: bold;
  text-transform: uppercase;
}

.title-inner{
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  font-size: 15px;
  color: #686868;
  font-weight: 100;
  margin-top: 5px;

}

.inner li{
  color: #686868;
  font-family: "Lato";
  font-size: 15px;
  color: #686868;
  font-weight: 100;
}

.job{
  width: 400px;
  margin: 20px;
  display: inline-block;
  border: 1px solid #dfdfdf;
  background-color: #fff;

  padding: 20px;
  transition: all 0.5s ease;
}

.joblo{
  max-width: 100px;
}

.job:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 15px #dfdfdf;
}


h2{
  color: #fff;
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h3{
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  font-family: "lato";
}

.about p, .attend p{
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 30px;

}

.button-ban{
  z-index: 3432423;
  display: inline-block;
  line-height: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  margin: 10px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease;

}

.button-ban:hover{
  background-color: #013247
}

.logo{
  width: 300px;
  z-index: 9947239;
}

.meimg{
  width: 200px;
  border-radius: 100%;
  border: 5px solid #fff;
  transition: all 0.5s ease;

}


.contains {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Clouds
 */
.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud2 {
  position: absolute;
  top: 20%;
  width: 300px;
  left: 0;
  opacity: 1;
}
.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 280px;
  z-index: 1;
}

.cloud.small {
  margin-right: 500px;
  width: 150px;
  z-index: 1;
}

.cloud.big {
  width: 300px;
  margin-top: 400px;
  margin-right: 850px;
  z-index: 1;
}

.cloud.massive {
  width: 200px;
  margin-top: 150px;
  margin-right: 0px;
  z-index: 1;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}


.slow {
  -webkit-animation-duration: 19.2s;
  -moz-animation-duration: 19.2s;
  animation-duration: 19.2s;
}

.slower {
  -webkit-animation-duration: 21.2s;
  -moz-animation-duration: 21.2s;
  animation-duration: 21.2s;
}

.slowest {
  -webkit-animation-duration: 23.5s;
  -moz-animation-duration: 23.5s;
  animation-duration: 23.5s;
}

.super-slow {
  -webkit-animation-duration: 30.5s;
  -moz-animation-duration: 30.5s;
  animation-duration: 30.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1500px);
    -moz-transform: translateX(-1500px);
    transform: translateX(-1500px);
  }
}


@-webkit-keyframes cloud-movement2 {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    transform: translateX(1000px);
  }
}

.const-left{
  width: 150px;
  float: left;
  margin-left: 40px;
}

.bcg h1{
  letter-spacing: 2px;
  line-height: 23px;
  color: #fff;
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 26px;
}
ol{
  font-family: "lato";
  list-style: decimal-leading-zero;
  font-size: 18px;
}
.outer{
  z-index: 9999;
  position: relative;
}

.sponsor-logo{
  max-width: 250px;
  margin: 30px;
  display: inline-block;
}
.attend{
  background-color: #013247;
  color: #fff;
  padding: 20px 5px 20px 5px;
}

.sponsors{
  padding-bottom: 50px;
  text-align: center;
}

.footer{
  background-color: #0c0e11;
  height: 100px;
}
.about, .attend{
  margin: 100px 0 100px 0;
}

b{
  font-size: 20px;
}
.faq{
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
  line-height: 25px;
}


.faq h1, .about h1, .attend h1, .sponsors h1{
  color: #000;
  font-family: "Lato", sans-serif !important;
  margin-bottom: 30px;

}

.sponsors h1{
  text-align: left;
}
@media screen and(max-width:668px){
  .sponsor-logo{
    display: block;
  }
}

@media screen and (max-width: 470px) {
    .hsContainer h2{
      font-size: 30px !important;
      letter-spacing: 1px;
    }

    .bcg h1{
      font-size: 20px;
      letter-spacing: 1px;
}
